<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>287357656880-f113k96srgcd2ri1m3mkgjlpjv6p0mtm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.287357656880-f113k96srgcd2ri1m3mkgjlpjv6p0mtm</string>
	<key>API_KEY</key>
	<string>AIzaSyA0oaa31x0hqGG8h0tIELgVenE5Zf0NUWs</string>
	<key>GCM_SENDER_ID</key>
	<string>287357656880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.commonlife</string>
	<key>PROJECT_ID</key>
	<string>commonlife-298df</string>
	<key>STORAGE_BUCKET</key>
	<string>commonlife-298df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:287357656880:ios:71338c820315eeb5</string>
	<key>DATABASE_URL</key>
	<string>https://commonlife-298df.firebaseio.com</string>
</dict>
</plist>