*.iml
.idea
target

# package manager dependencies
node_modules

# lock files
package-lock.json
yarn.lock

# logs
yarn-error.log


src/**/*.css

# JRebel
rebel.xml
admin/src/main/webapp/logs/
backend/src/main/webapp/logs/
