.gitignore export-ignore
.gitattributes export-ignore
/snapshots export-ignore

/admin/src/main/resources/properties/**/*.properties  export-ignore
/backend/src/main/resources/properties/**/*.properties   export-ignore
