body {
  top: 0; }

* {
  box-sizing: border-box; }

.cl-write__button--fixed {
  position: fixed;
  bottom: 2em;
  right: 1em;
  z-index: 1; }

.cl-bg--write {
  background-color: rgba(0, 0, 0, 0.3); }

.cl-flex-between {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }
