html {

}

body {
    top: 0;
    -webkit-text-size-adjust: none;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    text-decoration: none;
    //&>*{
    //  text-decoration: none;
    //}

    &.cl--disabled{
        pointer-events: none;
    }
}

ul {
    padding-left: 0;
    margin: 0;
}

li {
    list-style: none;
}

button, select, input {
    border: none;
    background-image: none;
    background-color: transparent;
    box-shadow: none;
    -webkit-appearance: none;
    padding: 0;
    font-size: 14px;

    &:active, &:focus {
        outline: none;
        border: none;
        border-style: none;
    }
}

button{
    &.cl--disabled{
        pointer-events: none;
        opacity: 0.6;
    }
}

input{
    border-radius: 0;
}

h1, h2, h3, h4, h5, p {
    margin-bottom: 0;
}

//input[type=date]{
//  font-size: 14px;
//}

/* clear mobile style */
//button,
//input,
//optgroup,
//select,
//textarea,html input[type="button"],
//input[type="reset"],
//input[type="submit"],
//button[disabled],
//html input[disabled],
//button::-moz-focus-inner,
//input::-moz-focus-inner,
//input[type="checkbox"],
//input[type="radio"],
//input[type="number"]::-webkit-inner-spin-button,
//input[type="number"]::-webkit-outer-spin-button,
//input[type="search"],
//input[type="search"]::-webkit-search-cancel-button,
//input[type="search"]::-webkit-search-decoration{
//  border:none;
//  background-image:none;
//  background-color:transparent;
//  box-shadow: none;
//  -webkit-appearance: none;
//}
input:focus, textarea:focus {
    outline: none;
}

/* Text */
.cl-bold {
    font-weight: bold;
}

.cl-black {
    color: #000000;
}

.cl-primary {
    color: #1052a5;
}

.cl-secondary {
    color: #f4ca5c;
}

.cl-wrap {
    word-wrap: break-word;
    white-space: normal;
}

.uppercase {
    text-transform: uppercase;
}

.cl--underline {
    text-decoration: underline;
}

/**/
.cl-write__button, .cl-iot-run__button {
    position: fixed;
    bottom: 5em;
    right: 1em;
    z-index: 9;
    transform: translateZ(0);
    transition: bottom 0.3s;
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

.cl-write__button {
    img {
        width: 21px !important;
        height: 21px !important;
        opacity: 1 !important;
    }
}

.App #cl-footer .cl-iot-run__button img {
    width: 20px;
    height: 20px;
    opacity: 1;
    margin-left: 18px;
    margin-top: 18px;
}

.cl-bg--write {
    background-color: rgba(0, 0, 0, 0.3);
}


.cl-bg--white {
    background-color: white;
}


.cl-bg--black {
    background-color: #000000;
}

.cl-bg--black30 {
    background-color: rgba(0, 0, 0, 0.3);
}


.cl-bg--black70 {
    background-color: rgba(0, 0, 0, 0.7);
}

.cl-flex {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.cl-flex--bottom {
    @extend .cl-flex;
    align-items: flex-end;
}

.cl-flex-between {
    @extend .cl-flex;
    justify-content: space-between;
}

/* Helper */

.cl-dynamic-lines {
    white-space: initial;
    box-sizing: content-box;
}

/* 말줄임 표시 */
.cl-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    width: 100%;
    overflow: hidden;
}

/* mixin for multiline */
@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white) {
    overflow: hidden;
    position: relative;
    line-height: $lineHeight;
    max-height: $lineHeight * $lineCount;
    text-align: justify;
    margin-right: -1em;
    padding-right: 1em;
    &:before {
        content: '...';
        position: absolute;
        right: 0;
        bottom: 0;
    }
    &:after {
        content: '';
        position: absolute;
        right: 0;
        width: 1em;
        height: 1em;
        margin-top: 0.2em;
        background: $bgColor;
    }
}

@for $i from 2 to 6 {

    /* 여러줄 말줄임 표시 */
    .cl-ellipsis--#{$i} {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
        -webkit-line-clamp: $i;
        -webkit-box-orient: vertical; // 비표준이라 지워져....엉
    }

    /* 그리드 레이아웃 */
    .grid-horizontal--#{$i} {
        display: grid;
        grid-template-columns: repeat(#{$i}, #{100%/$i});
    }
}

/* 마진 & 패딩 설정 */
@for $i from 1 to 10 {
    $f: $i/10;
    .m-0#{$i}em {
        margin: #{$f}em;
    }
    .mt-0#{$i}em {
        margin-top: #{$f}em;
    }
    .mr-0#{$i}em {
        margin-right: #{$f}em;
    }
    .mb-0#{$i}em {
        margin-bottom: #{$f}em;
    }
    .ml-0#{$i}em {
        margin-left: #{$f}em;
    }

    .p-0#{$i}em {
        padding: #{$f}em;
    }
    .pt-0#{$i}em {
        padding-top: #{$f}em;
    }
    .pr-0#{$i}em {
        padding-right: #{$f}em;
    }
    .pb-0#{$i}em {
        padding-bottom: #{$f}em;
    }
    .pl-0#{$i}em {
        padding-left: #{$f}em;
    }
}

@for $i from 0 to 11 {
    .m-#{$i}em {
        margin: #{$i}em;
    }
    .mt-#{$i}em {
        margin-top: #{$i}em;
    }
    .mr-#{$i}em {
        margin-right: #{$i}em;
    }
    .mb-#{$i}em {
        margin-bottom: #{$i}em;
    }
    .ml-#{$i}em {
        margin-left: #{$i}em;
    }

    .p-#{$i}em {
        padding: #{$i}em;
    }
    .pt-#{$i}em {
        padding-top: #{$i}em;
    }
    .pr-#{$i}em {
        padding-right: #{$i}em;
    }
    .pb-#{$i}em {
        padding-bottom: #{$i}em;
    }
    .pl-#{$i}em {
        padding-left: #{$i}em;
    }

    .opacity-#{$i}0 {
        opacity: $i/10
    }

    .w-#{$i}0 {
        width: percentage($i/10);
    }
    .w-#{$i*10 + 5} {
        width: percentage($i/10 + 0.05);
    }

    .h-#{$i}0 {
        height: percentage($i/10);
    }
    .h-#{$i*10 + 5} {
        height: percentage($i/10 + 0.05);
    }
}

@for $i from 9 to 30 {
    .fs-#{$i} {
        font-size: #{$i}px;
    }
}

.bb--gray {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.mt-auto {
    margin-top: auto;
}

.cl--full--abs {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.validation-message {
    color: #de4c35;
    padding-top: 4px;
}

.cl-input-with-button{
    display: flex;
    margin-bottom: 0.1em;
    align-items: center;

    input{
        width: 68%;
    }

    button{
        margin-left: auto;
        margin-bottom: 0;
    }

}


// 회원가입 완료 페이지
.cl-join-welcome-wrap{
    height: calc( 100% - 230px );
}

.cl-join-welcome{
    .cl-thumb-container{
        margin-top: 40px;

        img {
            clip-path: polygon(15% 0, 100% 0, 100% 75%, 85% 100%, 0 100%, 0 25%);
            display: inline-block;
            //background: transparent url("images/profile-thumb-img-big-default@3x.png") no-repeat;
            width: 109px;
            height: 109px;
            background-size: contain;
        }
    }

}
