/* Drawer */
.md-drawer{

  background-image: url("images/bg-2-dark@2x.png");
  color: white;

  a{
    color: #BDA45E;
    text-decoration: underline;
  }

  img{
    vertical-align: middle;
  }

  footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 20;
    height: 50px;
    background-color: #eeeeee;
    padding: 7px 16px;
    align-items: center;
    color: #4a4a4a;

    .cl-strong{
      color: #5F5F5F;
      font-weight: bolder;
    }
  }
}



/* 새글 쓰기 */
.cl-write{
  height: 100vh;
}

.cl-write-section{

  //background-image: url("../images/bg-2-dark@2x.png");
  height: calc( 100vh - 56px );

  textarea{
    margin-top: 1em;
    padding: 1em;
    width: 100%;
    border: none;
    font-size: 18px;
    color: white;
    background-color: transparent;
  }
}

.cl-preview-holder{

  position: absolute;
  padding-left: 15px;
  padding-bottom: 20px;
  bottom: 50px;
  left: 0;

  img, button{
    display: inline-block;
    vertical-align: middle;
  }

  button{
    color: #77787A;
    font-size: 12px;
    text-decoration: underline;
  }
}


/*
 * 카드아이템
 */

.cl-card-item {
    a {
        text-decoration: none;
    }

    .md-card {
        border-radius: 2px;
        margin-top: 10px;
        box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.14);
    }

    .md-avatar {
        position: relative;
        margin-right: 10px;
        border-radius: 0;
        border: 0;

        clip-path: polygon( 15% 0, 100% 0, 100% 75%, 85% 100%, 0 100%, 0 25%);

        //clip-pa

        //&:before {
        //    content: '';
        //    position: absolute;
        //    top: 0;
        //    left: -1px;
        //    width: 0;
        //    height: 0;
        //    border-style: solid;
        //    border-width: 10px 6px 0 0;
        //    border-color: #ffffff transparent transparent transparent;
        //}
        //
        //&:after {
        //    content: '';
        //    position: absolute;
        //    right: -1px;
        //    bottom: 0;
        //    width: 0;
        //    height: 0;
        //    border-style: solid;
        //    border-width: 0 0 10px 6px;
        //    border-color: transparent transparent #ffffff transparent;
        //}
    }

    .md-card-title {
        padding: 15px;
    }

    .md-card-title--title-block {
        h2 {
            font-weight: bold;
            color: #000000;
        }

        h3 {
            font-weight: 400;
        }
    }

    .md-card-text {
        padding: 0 15px 20px;
        font-size: 17px;
        color: #000000;
    }

    hr {
        margin: 0 15px;
        border: 1px solid #cfcfcf;
        border-bottom: 0;
    }

    .md-dialog-footer--inline {
        padding: 14px 15px 13px;
    }

    .md-media-overlay {
        height: 100%;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6));

        h2 {
            position: absolute;
            bottom: 10px;
            width: calc(100% - 30px);
        }
    }

    .cl-card-item__event-content {
        padding-top: 16px;

        h3 {
            margin: 0;
            font-size: 14px;
            color: #000000;
        }

        p {
            font-size: 14px;
            color: #9b9b9b;
        }
    }

    .h-group {
        width: 100%;
    }
}

.cl-card-item__button {
    position: relative;
    min-width: 56px;
    height: 28px;
    margin: 0;
    padding: 0;
    font-weight: 400;
    text-align: left;
    color: #8C8C8C;
    transition: all 0.3s ease-in-out;

    span {
        padding: 0 3px 2.5px;
        border-bottom: 2px solid #ffffff;
    }

    i {
        position: absolute;
        top: 5px;
        width: 17px;
        height: 17px;
        border-radius: 50%;
        background-color: #f4ca5c;
        font-size: 9px;
        font-style: normal;
        text-align: center;
        color: #000000;
        line-height: 17px;
    }

    &:hover {
        background: transparent;
        color: #000000;

        span {
            border-bottom: 2px solid #f4ca5c;
        }
    }
}

.cl-card-item--brand {
    position: relative;

    .md-card-text {
        display: none;
    }

    .md-dialog-footer--card.md-dialog-footer--inline {
        position: absolute;
        bottom: 0;
        z-index: 9;
        width: 100%;
    }

    hr {
        position: absolute;
        bottom: 55px;
        z-index: 9;
        width: calc(100% - 30px);
        opacity: 0.7;
    }

    .md-media-overlay {
        h2 {
            bottom: 77px;
        }
    }

    .cl-card-item__button {
        color: #8b9da7;

        span {
            border-color: transparent;
        }
    }
}

/* Content Holder */
.cl-back__button{
  padding: 0;
  text-align: left;
}




/* Card Item Detail */
.cl-card-detail{

  height: calc( 100vh - 106px );
  overflow: auto;

  .cl-info{
    background-color: #F4F4F4;
    padding: 16px;
    padding-bottom: 10px;

    &>h3{
      border-bottom: 1px solid #cfcfcf;
      padding-bottom: 34px;
      font-weight: bold;
      color: #000000;
    }
  }

  .cl-content--card{
    padding: 16px;
    min-height: 100px;
  }

}





/* Icon */
.cl-icon{

  &.cl-card-item__rsvp{
    min-width: 56px;
    height: 28px;
    margin: 0;
    padding: 0;
    background-image: url("images/rsvp-copy@3x.png");
    background-size: 66px;
  }

}


/* Like Lisk */
.cl-like__header {
    height: 10px;
}

.cl-like__dim {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -9;
    width: 100vw;
    height: 100vh;
    background-color: #2e3137;
    opacity: 0.7;
}

.cl-like__hr {
    border-bottom: 1px solid #ffffff;
    opacity: 0.1;
}

.cl-like__item {
    margin: 14px 0;
}

.cl-like__avatar {
    position: relative;
    width: 40px;
    height: 40px;
    margin-left: 22px;
    border-radius: 0;
    border: 0;

    clip-path: polygon( 15% 0, 100% 0, 100% 75%, 85% 100%, 0 100%, 0 25%);
}

.cl-like__name {
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    margin: 0 12px;
}

.cl-like__place {
    width: calc(100% - 190px);
}

.cl-like__arrow {
    width: 24px;
    margin-right: 18px;

    img {
        position: relative;
        top: 2px;
    }
}


@import "timeScheduler";