
::-webkit-scrollbar {
    display: none;
}



.cl-content--empty{
    position: relative;

    &:before{
        content:'콘텐츠가 없습니다.';
        position: absolute;
        top: 0;
        left: 0;
        background: transparent url('images/ic-empty-page.png') no-repeat;
        background-position: center calc( 40vh - 104px );
        background-size: 104px;
        width: 100%;
        height: 100%;
        padding-top: calc(40vh + 1em);
        color: rgba( 0, 0, 0, 0.2 );
        text-align: center;
    }
}

/* 빗금 */
.cl-deviant-crease{
    background: linear-gradient(45deg,
            transparent 49%,
            black 0,
            black 50%,
            transparent 0,
            transparent 99%,
            black 0);
    background-size: 8px 8px;

    &:after{
        content:'';
        position: absolute;
        width: 100%;
        height: 100%;
        border: 1px solid rgba(151, 151, 151, 0.4);
    }
}

/* Drawer */
.md-drawer {

    background-color: #32363D;

    &.cl-bg--light{
        background-image: url("images/bg-3@2x.png");
    }

    &.cl-bg--lightgray{
        background-image: none;
        background-color: #E9E9E9;
    }

    color: white;

    a {
        color: #BDA45E;
        text-decoration: underline;
    }

    img {
        vertical-align: middle;
    }

    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 20;
        height: 50px;
        background-color: #eeeeee;
        padding: 7px 16px;
        align-items: center;
        color: #4a4a4a;

        button {
            font-size: 14px;
            color: #5F5F5F;
        }

        .cl-strong {
            color: #5F5F5F;
            font-weight: bolder;
        }
    }
}

/* 새글 쓰기 */
.cl-write {
    height: 100vh;
}

.cl-write-section {

    height: calc(100vh - 56px * 2 );
    overflow: hidden !important;

    textarea{
        padding: 1em;
        width: 100%;
        height: 100%;
        border: none;
        font-size: 18px;
        color: white;
        background-color: #38393b;
    }

    footer{
        height: initial;
        padding: 0.6em 1em;
    }
    
    .cl-write-noti{
        position: absolute;
        background-color: #57585A;
        color: rgba( 255, 255, 255, 0.5 );
        width: 100%;
        top: -40px;
        height: 40px;
        line-height: 40px;
        left: 0;
        padding-left: 1.4em;
    }
}


.cl-dim--complete{
    @extend .cl-flex;
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: rgba( 0, 0, 0, 0.85 );
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: 15px;

    img{
        margin-top: 60%;
        width: 30px;
        height: 30px;
    }

    p{
        color: white;
        font-size: 19px;
        margin-top: 1em;
        font-weight: 600;
    }

    button{
        margin-top: auto;
        color: white;
        font-size: 14px;
        background-color: #4a4a4a;
        padding: 0.8em 0;
        text-align: center;
        width: 100%;
    }
}


.cl-preview-holder {

    position: absolute;
    padding-left: 15px;
    padding-bottom: 20px;
    bottom: 50px;
    left: 0;

    img, button {
        display: inline-block;
        vertical-align: middle;
    }

    button {
        color: #77787A;
        font-size: 12px;
        text-decoration: underline;
        margin-left: 0.8em;
    }
}

/*
 * 카드아이템
 */

.cl-card-item-wrapper{
    margin-top: 10px;
    transform: translateZ(0);
}

.cl-avatar {
    position: relative;
    margin-right: 10px;
    border-radius: 0;
    border: 0;
    width: 40px;
    height: 40px;
    background-image: url('images/profile-thumb-img@3x.png');
    background-size: cover;
    clip-path: polygon(15% 0, 100% 0, 100% 75%, 85% 100%, 0 100%, 0 25%);

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9;
        width: 40px;
        height: 40px;
        background-color: rgba(0,0,0,0.05);
        clip-path: polygon(15% 0, 100% 0, 100% 75%, 85% 100%, 0 100%, 0 25%);
    }
}


.cl-like-item{
    &>div{
        padding: 15px 15px 10px 15px;
    }

    .cl-like__place{
        font-size: 12px;
        color: #9E9FA2;
    }
}


.cl-card-item__bg--event{
    position: relative;
    height: 230px;
    width: calc( 100% + 30px );
    margin-left: -15px;
    margin-top: -15px;
    background-repeat: no-repeat;
    background-size: cover;

    &:after{
        content:'';
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6));
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    h5 {
        min-height: 27px;
        max-height: 54px;
        overflow: hidden;
        position: absolute;
        bottom: 5px;
        color: white;
        width: calc(100% - 30px);
        z-index: 1;
        margin-left: 15px;
        margin-bottom: 11px;
        font-size: 24px;
        font-weight: 600;
        line-height: 27px;
        display: -webkit-box;
        text-overflow: ellipsis;
        word-wrap: break-word;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}

.cl-card-items{
    padding-bottom: 3em;
    padding-right: 8px;
    width: calc( 100% - 8px );
    height: 100%;
    position: fixed;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.cl-card-item {
    background-color: #f4f4f4;
    padding: 13px 15px 10px 15px;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;


    a, a:visited {
        text-decoration: none;
        color: black;
    }


    &:first-child .md-card{
        margin-top: 0;
    }



    .cl-card-item-content{
        font-size: 0;
        margin-top: 10px;

        a{
            font-size: 17px;
            line-height: 1.3em;
            color: #000000;
        }
    }

    .cl-card-item__img{
        margin-top: 15px;
        margin-left: -15px;
        width: calc( 100% + 30px );
        height: auto;
    }

    .cl-dates{

        margin-bottom: 0;

        .cl__date{
          font-weight: bold;
          margin-right: 0.5em;
        }

        .cl__time{
          color: gray;
        }
    }

    .cl-name{
        font-weight: bold;
        margin-bottom: 0;
        font-size: 15px;
    }

    .cl-desc{
        margin-top: -2px;
        font-size: 13px;
        color: #9b9b9b;
    }

    hr {
        margin: 22px 0 10px;
        border: 1px solid rgba(207, 207, 207, 0.5);
        border-bottom: 0;
    }

    &.cl-card-item--event {
        hr {
            margin-top: 0 !important;
        }
    }

    //&.cl-card-item--feed {
    //    .cl-like-share {
    //        padding-top: 8px;
    //        margin-top: 14px;
    //        border-top: 1px solid rgba(207, 207, 207, 0.7);
    //    }
    //}
}

.cl-card-item--dark{
    @extend .cl-card-item;

    background-color: transparent;

    color: white;

    .cl-name{
        color: white;
    }

    .cl-desc{
        color: #9B9B9B;
    }

    box-shadow: none;
}

.cl-card-item-content__paragraph {
    line-height: 22px;
    letter-spacing: -0.2px;
}

.cl-card-item-detail-content{
    padding: 15px 15px 80px 15px;
    color: #C9CACC;
    line-height: 22px;
}

.cl-card-item__button {
    position: relative;
    height: 28px;
    margin: 0;
    font-weight: 500;
    text-align: left;
    color: #8C8C8C;
    transition: all 0.3s ease-in-out;
    padding: 0 3px 0;
    font-size: 14px;


    &:last-child{
        padding-right: 0;
    }

    &>img{
        vertical-align: middle;
        max-height: 100%;
    }
}

.cl-counter__button {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: #f4ca5c;
    font-size: 9px;
    font-style: normal;
    text-align: center;
    color: #000000;
    line-height: 17px;
    margin-right: 1em;
}

/* Content Holder */
.cl-back__button {
    padding: 0;
    text-align: left;
    width: calc(42px - 1em);
}

/* Card Item Detail */
.cl-card-detail--feed{
    .cl-card-item-wrapper{
        margin-top: 0;
    }
}

.cl-card-detail {

    //height: calc(100vh - 106px);
    //overflow-y: auto;
    //overflow-x: hidden;

    //.cl-card-item-wrapper{
    //    position: sticky;
    //    top: 0;
    //    margin-top: 0;
    //}

    .cl-card-item-wrapper{
        position: relative;
        margin-top: 0;
    }

    .cl-opts__footer{
        height: 50px;
    }

    .cl-info {
        background-color: #F4F4F4;
        padding: 16px;
        padding-bottom: 10px;

        & > h3 {
            border-bottom: 1px solid #cfcfcf;
            padding-bottom: 34px;
            font-weight: bold;
            color: #000000;
        }
    }

    .cl-card-item {
        padding-bottom: 1em;
        border-bottom: 1px solid #cfcfcf;
        border-radius: 0;
    }

    .cl-card-item--event{

        .cl-title{
            padding-top: 9px;
            padding-bottom: 22px;
            font-weight: bold;
            font-size: 24px;
            line-height: 1.2em;
            border-bottom: 1px solid rgba(207, 207, 207, 0.7);
        }
    }

    .cl-content--card {
        padding: 16px;
        min-height: 100px;
        font-size: 16px;
        color: white;
    }

    .cl-card-item__img{
        width: 100%;
        height: auto;
    }


    .cl-join-status{
        span{
            &:first-child{
                font-weight: bold;
                color: rgba( 0, 0, 0, 0.5 );
            }

            &:last-child{
                color: #4a4a4a;
            }
        }
    }
}

/* Like Lisk */
.cl-like__header {
    height: 10px;
}

.cl-like__dim {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -9;
    width: 100vw;
    height: 100vh;
    background-color: #2e3137;
    opacity: 0.7;
}

.cl-like__hr {
    border-bottom: 1px solid #ffffff;
    opacity: 0.1;
}

.cl-like__item {
    margin: 14px 0;
}

.cl-like__avatar {
    position: relative;
    width: 40px;
    height: 40px;
    margin-left: 22px;
    border-radius: 0;
    border: 0;
    background-size: cover;

    clip-path: polygon(15% 0, 100% 0, 100% 75%, 85% 100%, 0 100%, 0 25%);
}

.cl-like__name {
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    margin: 0 12px;
}

.cl-like__place {
    width: calc(100% - 190px);
}

.cl-like__arrow {
    width: 24px;
    margin-right: 18px;

    img {
        position: relative;
        top: 2px;
    }
}

.cl-like-share {
    padding-top: 8px;
    margin-top: 14px;
    border-top: 1px solid rgba(207, 207, 207, 0.7);

    button, a {
        color: #8C8C8C;
    }

    .cl-like__button{
        width: 56px;

        &+.cl-counter__button{
            margin-left: -22px;
        }

        //&:hover {
        //    span {
        //        border-bottom: 2px solid #F2C86C;
        //    }
        //}
    }

    .cl-like__button, .cl-counter__button {
        color: rgba( 0, 0, 0, 0.5 );

        z-index: 1;
    }

    .cl-like--liked{
        color: #000000;

        span {
            border-bottom: 2px solid #F2C86C;
        }
    }

    a {
        text-decoration: none;
    }

    .cl-card-item__button--cal {
        height: 36px;
        margin-right: -2px;

        img {
            width: 107px;
            height: 36px;
        }
    }
}

/* 앞에 동그라미 감싸진 + 버튼이 있는 라벨 버튼*/
.cl-plus-label__button {

    height: 18px;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    color: #000000;

    &:before {
        content: '';
        display: inline-block;
        width: 18px;
        height: 18px;
        background: transparent url("images/plus-circle@3x.png") no-repeat;
        background-size: contain;
        margin-right: 4px;
        vertical-align: top;
    }
}


/* 지도 버튼 */
.cl-map__link {
    width: 24px;
    height: 24px;
    background: transparent url("images/map-link@3x.png") no-repeat;
    background-size: contain;
    opacity: 0.3;
}

a.cl-map__link--branch{

    display: flex;
    flex-flow: row wrap;
    color: white;
    font-size: 12px;

    .cl-map-pin__icon{
        width: 15px;
        height: 15px;
        margin-right: 3px;
        background-image: url('images/ic-plus-24-px-copy-2@3x.png');
        background-size: contain;
    }
}





.DayPicker-Day--disabled {
    pointer-events: none;
}

// 슬라이더 레이아웃
.cl-slider {
    .rc-slider-rail {
        height: 2px;
        background-color: #ACACAC;
    }

    .rc-slider-track {
        z-index: 9;
        height: 2px;
        margin-left: 0;
        background-color: #0F3E78;
    }
    .rc-slider-step {
        height: 2px;
        margin-left: -1px;
    }

    .rc-slider-handle {
        margin-left: 0;
        margin-top: 0;
        width: 2px;
        height: 2px;
        border-radius: 0;
        border: transparent;
        background-color: #565656;
    }

    .rc-slider-dot {
        bottom: 0;
        margin-left: 0;
        width: 2px;
        height: 2px;
        border: transparent;
        background-color: rgba(255, 255, 255,0.5);
        border-radius: 0;
    }


    .cl-handle{
        position: absolute;
        z-index: 99;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: $md-primary-color;
        margin-top: -5px;
        margin-left: -6px;


        .cl-handle-mark{
            &.cl--hide{
                display: none;
            }
        }

        .cl-handle-mark-bg{
            position: absolute;
            bottom: 20px;
            width: 26px;
            height: 26px;
            border-radius: 50% 50% 50% 0;
            background: $md-primary-color;
            transform: rotate(-44deg);
            margin-left: -6px;
        }

        .cl-handle-mark-value{
            color: white;
            font-size: 10px;
            text-align: center;
            position: absolute;
            bottom: 25px;
            width: 15px;
        }
    }
}

.rc-slider-tooltip {
    .rc-slider-tooltip-inner {
        padding: 0;
        min-width: 28px;
        height: 28px;
        font-size: 10px;
        line-height: 28px;
        background-color: #1654A3;
        border-radius: 50%;
    }

    .rc-slider-tooltip-arrow {
        bottom: 3px;
        left: 50%;
        margin-left: -11px;
        border-width: 10px 11px 0;
        border-top-color: #1654A3;
    }
}

// dim progress

.cl-iot-connect-progress {
    position: relative;
    width: 195px;
    height: 48px;
    transform: rotate(90deg);

    span {
        display: block;
        background-color: #9B9B9B;
        overflow: hidden;
        transition: 500ms linear;
        -webkit-transition: 500ms linear;

        &:after {
            content: "";
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            position: absolute;
            overflow: hidden;
            background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
            background-image: linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
        }
    }


    &.cl--done{

    }
}

.cl-iot-connect-progress__box {
    position: absolute;
    width: 130px;
    height: 4px;
    top: 50%;
    left: 40px;
    margin-top: -2px;

    &:after {
        background-size: 17px;
        animation: stripes-move 1500ms infinite;
    }
}

@-webkit-keyframes stripes-move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 50px 50px;
    }
}

@keyframes stripes-move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 50px 50px;
    }
}

.cl-iot-connect-progress__icon-start {
    position: absolute;
    top: 3px;
    left: 1px;
    z-index: 99;
    width: 42px;
    height: 42px;
    background-size: 42px;
    background-image: url("images/iot-ic-connect-bullet@3x.png");
    transform: rotate(-90deg);
}

.cl-iot-connect-progress__icon-done {
    position: absolute;
    top: 3px;
    left: 152px;
    z-index: 99;
    width: 42px;
    height: 42px;
    background-size: 42px;
    background-image: url("images/iot-ic-connect-check-bullet-grey@3x.png");
    transform: rotate(-90deg);
    transition: 300ms ease-in-out;
}


.cl-iot-mode-progress__on-bullet {
    .cl-iot-connect-progress {
        width: 265px;
        margin: 0 auto;
    }

    .cl-iot-connect-progress__text-start,
    .cl-iot-connect-progress__text-done {
        color: rgba(0,0,0,0.5);
    }

    .cl-iot-connect-progress__text-done {
        left: 198px;
    }

    .cl-iot-connect-progress__icon-start {
        background-image: url("images/iot-ic-connect-bullet-blue@3x.png") !important;
    }

    .cl-iot-connect-progress__icon-done {
        left: 218px;
        background-image: url("images/iot-ic-connect-check-bullet-grey@3x.png");
    }

    .cl-iot-connect-progress__box {
        width: 180px;
    }
}

.cl-iot-mode-progress__off-bullet {
    .cl-iot-connect-progress {
        width: 265px;
        margin: 0 auto;
    }

    .cl-iot-connect-progress__text-start,
    .cl-iot-connect-progress__text-done {
        color: rgba(0,0,0,0.5);
    }

    .cl-iot-connect-progress__text-done {
        left: 198px;
    }

    .cl-iot-connect-progress__icon-start {
        background-image: url("images/iot-ic-connect-bullet-dark@3x.png") !important;
    }

    .cl-iot-connect-progress__icon-done {
        left: 218px;
        background-image: url("images/iot-ic-connect-check-bullet-grey@3x.png");
    }

    .cl-iot-connect-progress__box {
        width: 180px;
    }
}

.cl-iot-connect-progress__text {
    position: absolute;
    width: 80px;
    font-size: 12px;
    color: rgba(255,255,255,0.5);
    transform: rotate(-90deg);
}

.cl-iot-connect-progress__text-start {
    @extend .cl-iot-connect-progress__text;
    top: -55px;
    left: -19px;
    opacity: 1;
}

.cl--done{
    .cl-iot-connect-progress__text-start{
        opacity: 0;
    }

    .cl-iot-connect-progress__text-done{
        opacity: 1;
    }

    .cl-iot-connect-progress__icon-start {
        background-image: url("images/iot-ic-connect-bullet-grey@3x.png") !important;
    }

    .cl-iot-connect-progress__icon-done {
        background-image: url("images/iot-ic-connect-check-bullet-orange@3x.png") !important;
    }
}

@keyframes connect-start-text {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


.cl-iot-connect-progress__text-done {
    @extend .cl-iot-connect-progress__text;
    top: -55px;
    left: 131px;
    opacity: 0;
}

@keyframes connect-done-text {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

// connection dim dark

.cl-iot-progress-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100vw;
    height: 100vh;
    //background-color: rgba(0,0,0,0.9);

    .cl-iot-connect-progress {
        position: relative;
        top: 188px;
        left: 50%;
        margin-left: -97.5px;
    }
}
.cl-iot-progress-overlay__content {
    min-height: 488px;
    position: fixed;
    width: 100%;
    top: 50%;
    margin-top: -244px;
}

.cl-iot-progress-overlay__top {
    padding-bottom: 60px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.cl-iot-progress-overlay__icon {
    display: flex;
    align-items: center;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 50%;

    img {
        margin: 0 auto;
    }
}

.cl-iot-progress-overlay__info-text {
    margin: 17px 0 0;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    color: #ffffff;

    span {
        color: #f4ca5c;
    }
}

.cl-iot-progress-overlay__alert-text {
    position: absolute;
    top: 215px;
    width: 100%;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.25;
    letter-spacing: -0.3px;
    text-align: center;
    color: rgba(255,255,255,0.7);
}

.cl-iot-progress-overlay__text {
    @extend .cl-iot-progress-overlay__alert-text;
}

// 카테고리 (공간별/기기별) 탭
.cl-iot-control-tab {
    position: relative;
    top: 0;
    z-index: 99;
}

.cl-iot-control-tab__item {
    width: 50%;
    padding: 12px 0 11px;
    border-bottom: 2px solid #1654A3;
    background-color: #1654A3;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
}

.cl-iot-control-tab__item--active {
    @extend .cl-iot-control-tab__item;

    border-bottom: 4px solid #f4ca5c !important;
    color: #ffffff;
}




/* Checkboxes */
.cl-checkboxes{

    @extend .cl-flex;

    input[type=checkbox], input[type=radio]{
        width: 18px;
        height: 18px;
        border: 2px solid #6B6B6B;
        border-radius: 2px;
        font-size: 0;

        &:checked{
            border: none;
            background: $md-primary-color url('images/ic-iot-checked-blue@3x.png') no-repeat;
            background-size: contain;
            background-position: center;
        }

        margin-right: 13px;
    }

    label{
        @extend .cl-flex;
        width: 50%;
        font-size: 14px;
        color: rgba( 0, 0, 0, .87 );
        margin-top: 26px;
        font-weight: lighter;
    }
}





/* Map Link */
.cl-map__link{
    .cl-map-pin__icon{
        background: transparent url('images/ic-plus-24-px-copy-2@3x.png') no-repeat;
    }
}





/* 지점 정보 */
.cl-branch-list{
    display: grid;
    max-width: calc( 100vw - 60px );
    width: 100%;
    grid-template-columns: repeat( 2, 1fr );
    grid-template-rows: auto;//58vw;
    grid-gap: 40px;
    margin: 0 auto;
    padding-bottom: 3em;
}

.cl-branch-item{

    position: relative;

    &.cl--selected{
        .cl-avatar-border{
            background-color: $md-secondary-color;

            &:before{
                z-index: 0;
            }

            &:after{
                content:'';
                position: absolute;
                width: calc( 100% - 8px );//29px;
                height: calc( 100% - 8px );///29px;
                border-radius: 50%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-image: url('images/check-yellow@3x.png');
                background-size: 29px;
                background-repeat: no-repeat;
                background-position: center;
                background-color: rgba( 0, 0, 0, 0.6 );
                border-radius: 0;
                clip-path: polygon(15% 0, 100% 0, 100% 75%, 85% 100%, 0 100%, 0 25%);
            }
        }

        h5{
            color: white;
        }
    }

    button{
        margin-bottom: auto;
    }

    .cl-avatar-border{
        width: 100%;
        height: calc( 50vw - 50px );

        &:before{
            content:'';
            @extend .cl-avatar;
            position: absolute;
            width: calc(100% - 8px);
            height: calc(100% - 8px);
            background-color: red;
            top: 4px;
            left: 4px;
            z-index: -1;
        }
    }


    .cl-avatar{
        background-image: url("images/house-empty@3x.png");
        background-size: 26%;
        background-position: center center;
        background-repeat: no-repeat;
        background-color: rgba(155, 155, 155, 0.3);
    }


    h5, p{
        color: #96979A;
    }

    h5{
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 0;
        margin-top: 0.6em;
        line-height: 1.3em;
    }

    p{
        margin-bottom: 1em;
        font-size: 12px;
        line-height: 1.2em;
    }
}




/* 알림 센터 */
.cl-next__button--gray{
    background-image: url("images/ic-next-gray@3x.png");
    width: 40px;
    height: 46px;
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: right top;
    opacity: 0.5;
}

.cl-notification-center{
    .cl-iot-vertical-list {
        background-color: #32363D;
        padding: 8px 0;
    }

    .cl-iot-control-tab__item{
        width: 25%;
    }

    li{
        box-shadow: none !important;
        margin-bottom: 0 !important;
        padding: 15px 18px 17px 12px!important;
        align-items: end !important;

        border-bottom: 1px solid rgba(250, 250, 250, 0.1) !important;

        img {
            width: 45px;
            height: 45px;
            margin-right: 10px;
            background-color: #ffffff;
            border-radius: 50%;
        }

        &.cl--new{
            align-items: center !important;

            .cl__title{

                display: flex;
                font-size: 18px !important;

                &:after{
                    content:'';
                    background-image: url("images/a-1@3x.png");
                    background-size: contain;
                    width: 18px;
                    height: 16px;
                    margin-left: 0.4em;
                }
            }
        }

        h4 {
            font-size: 16px !important;
            color: rgba(250, 250, 250, 0.8);
        }

        p {
            font-size: 12px;
            line-height: 1.5em;
        }

        .cl__desc {
            line-height: 1.3em;
            color: rgba(250, 250, 250, 0.8);
        }
    }
}




/* 시간 선택기  */
.cl-time-selector{
    @extend .cl-flex;
    margin: 4px 0 2px;
    border-bottom: 1px solid #CCCCCC;
    background-color: #E9E9E9;
    //margin-top: 4px;

    &>*{
        background-image: url("images/cl-select-with-title-select-bullet@2x.png");
        background-repeat: no-repeat;
        background-position: 80% 50%;
        background-size: 12px;
        border-right: 1px solid #CCCCCC;
        color: rgba( 0, 0, 0, 0.87 );
        font-size: 15px;
        width: 33.3%;
        line-height: 3em;
        padding-right: 15px;
        margin-bottom: 2px;
        padding-left: 22px;

        &:first-child{
            padding-left: 0;
        }

        &:last-child{
            border-right: none;
            padding-right: 0;
        }
    }

    label{
        background: none;
    }
}


/* 날짜 선택기 */
.cl-date-selector{
    margin: 0;
    background-color: #E9E9E9;
    white-space: nowrap;

    .cl-date-selector__button{

        font-size: 14px;
        width: calc( 100% / 7 );
        height: 50px - 3px;
        border-right: solid 1px rgba(0,0,0,0.2);
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 0;

        &.cl--selected{
            background-color: #4a90e2;
            color: white;
            font-weight: bold;
            box-sizing: content-box;
        }

        &.cl--disabled{
            @extend .cl-deviant-crease;
            pointer-events: none;
            &:after{
                content:none;
            }
        }
    }

}


/* 조건문 입력기 */
.cl-condition-expression{
//ic-arrow-down@3x

    font-size: 14px;
    color: rgba( 0, 0, 0, 0.9 );

    .cl-value{
        min-width: 60px;
        font-size: 16px;
        line-height: 1.4em;
        border-bottom: 2px solid $md-primary-color;
        padding-bottom: 4px;
    }

    select{
        width: 110px;
        background-image: url('images/ic-arrow-down@3x.png');
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 24px;
        border-radius: 0;
    }
}


/* 시나리오내 기기 속성 토글 버튼 */
.cl-device-of-scna-toggle__button{
    width: 30px;
    height: 20px;
    background-image: url('images/a-off@3x.png');
    background-size: contain;
    background-repeat: no-repeat;

    &.cl--selected{
        background-image: url('images/a-on@3x.png');
    }
}




.cl-delete__button{
    width: 40px;
    height: 30px;
    background: transparent url('images/del@3x.png') no-repeat;
    background-size: contain;
}


.ic-exclamation{
    display: inline-block;
    background: transparent url('images/alert-icon-yellow-copy@3x.png') no-repeat;
    background-size: contain;
    width: 16px;
    height: 16px;
}


/* c3 chart */
.c3 .c3-axis-x path, .c3 .c3-axis-x line{
    stroke: #D1D1D1;
}

.c3-axis-x .tick{
    fill: gray;
}

.c3-chart-arcs .c3-chart-arcs-background{
    fill: red;
    stroke: none;
}


.cl-chart-gauge-container{
    position: relative;
}

.cl-gauge-bg{
    background: transparent url('images/gauge-bg@3x.png') no-repeat;
    background-size: 320px auto;
    background-position: center 8px;
}

.cl-gauge-arrow{
    position: absolute;
    bottom: 6%;
    left: calc( 50% - 5px );
    background-color: black;
    height: 60%;
    width: 10px;
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
    transform-origin: 50% 100%;
}

.cl-gauge-arrow-dot{
    position: absolute;
    bottom: 0;
    left: calc( 50% - 9px );
    background-color: white;
    border: 3px solid black;
    border-radius: 50%;
    width: 18px;
    height: 18px;
}

.cl-gauge-bg{
    position: absolute !important;
    top: 0;
    left: 0;
}

.c3-gauge-value{
    display: none !important;
}

.cl-branch-selector {
    .cl-card-item--dark{
        padding: 23px;
    }
}