
/* 새글 쓰기 */
.cl-write{
  height: 100vh;
}

.cl-write-section{

  padding-top:  56px;
  background-image: url("../images/bg-2-dark@2x.png");
  height: 100%;

  textarea{
    margin-top: 1em;
    padding: 1em;
    width: 100%;
    border: none;
    font-size: 18px;
    color: white;
    background-color: transparent;
  }

  footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 20;
  }
}

.cl-preview-holder{

  padding-left: 15px;
  padding-bottom: 20px;

  img, button{
    display: inline-block;
    vertical-align: middle;
  }

  button{
    color: #77787A;
    font-size: 12px;
    text-decoration: underline;
  }
}

.cl-write-toolbar{
  height: 50px;
  background-color: #eeeeee;
  padding: 7px 0;
}