/* Drawer */
body:not(.platform--ios){

  .md-drawer{
    overflow-y: auto;
    bottom: initial;
  }
}

.cl-drawer-header-more{

  position: absolute;
  height: 46px;
  right: 0;
  top: 0;
  z-index: 20;

  img{
    height: 100%;
  }

}


.cl-drawer-content-holder{
  height: 100%;

  &>header{
    position: sticky;
  }
}

.md-drawer{

  -webkit-overflow-scrolling: touch;
  height: 100vh;

  header{

    height: 46px;
    border-bottom: 0;

    h2.md-title--toolbar{
      font-size: 16px;
     // margin-left: -12px;
      margin-top: 2px;
    }

    &.cl-bg--deepdark{
      box-shadow: none;
    }

  }

  .dialogs__content{
    overflow: auto;
    //height: calc( 100vh - 46px );

    &>div{
      min-height: 100%;
    }
  }

}
