/* Drawer */
.md-drawer{
  overflow: auto;
}

.cl-drawer-content-holder{
  &>header{
    position: sticky;
  }
}

.md-drawer--active{

  header{

    h2{
      font-size: 16px;
    }

  }


  .dialogs__content{
    //margin-top: 56px;
  }

}


&.cl-is-device{
  .md-drawer--active header{
    padding-top: 3.90625vh;
    height: calc( 56px + 3.90625vh );
  }
}