$dur: 0.4s;
$delay: 0.2s;

html, body{
    position: fixed;
    overflow: hidden;
}

body{
    width: 100vw;
    height: 100vh;
}

body.platform--ios{

    .cl-full-page {
        top: 3.90625vh;
        height: 96vh;
    }

    #status-bar{
        position: fixed;
        background-color: #1052a5;
        height: 3.90625vh;
        width: 100vw;
        top: 0;
        z-index: 1000;
    }

    .cl-second-header {
        //top: 3.90625vh;
    }

    .App{
        height: calc( 100vh - 3.90625vh + 46px );
    }

    #root{
        margin-top: 3.90625vh;
    }

    .dialogs__content{
        //margin-top: 3.90625vh;
        height: calc( 100vh - 3.90625vh - 46px );
        -webkit-overflow-scrolling: touch;
        transform: translateZ(0);
    }

    //.cl-full-page{
    //    top: 3.90625vh;
    //    height: calc( 100vh - 3.90625vh - 50px );
    //}

    #modal{
        &>div {
            margin-top: 3.90625vh;
            height: calc(100vh - 3.90625vh);
        }
    }

    ul.cl-iot-vertical-list {
        &.cl-bg--iot {
            min-height: calc( 100vh - 3.90625vh - 97px - 50px );
        }
    }


    .cl-drawer-content-holder{
        &>header {
          margin-top: 3.90625vh;
        }
    }

    .md-drawer .dialogs__content > div {
        &.drawer-fitted-box--b {
            height: calc(100vh - 3.90625vh - 50px - 46px);
            min-height: calc(100vh - 3.90625vh - 50px - 46px);
        }
    }
}

body:not(.platform--ios){
    //overflow-y: scroll;
}

body.cl-keyboard--open{

    .App{
        overflow: hidden;
    }

    &.platform--ios{
        .cl-shrink{
            height: calc( 96.1vh - 56px - 50px );
        }
    }

    .cl-shrink{
        height: calc( 100vh - 56px - 50px );
    }


    .md-drawer{
         bottom: initial;
    }


    .cl-login{
        position: absolute;
        min-height: 500px;


        .cl-input-container{
            left: 0;
            width: 100vw;
            height: 100vh;
            transform: translateZ(0);
        }

        footer{
            display: none;
        }
    }

    .cl-join{
        position: absolute;
    }
}

body.cl-dom--added{
    .App{
        overflow: hidden;
    }
}


.abs-scroll{
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    height: calc( 100vh - 46px - 50px );
    min-height: calc(100vh - 49px * 2);
}

.cl-full-page{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
}


/* 스크롤 영역 따로 지정 */
.md-drawer .dialogs__content > div {
    &.drawer-fitted-box--b {
        @extend .abs-scroll;
        height: calc(100vh - 50px - 46px);
        min-height: calc(100vh - 50px - 46px);

        .cl-opts__footer {
            height: 50px;
        }
    }
}

.cl-tab--community{
    .cl-fitted-box{
        @extend .abs-scroll;
    }

    .cl-avatar {
        background-image: url("images/profile-thumb-img-community@3x.png");
    }
}

.cl-tab--news,
.cl-notice-detail,
.cl-card-item--news {
    .cl-avatar {
        background-image: url("images/profile-thumb-img-news@3x.png");
    }
}

.cl-tab--reservation{
    .cl-fitted-box{
        @extend .abs-scroll;
    }
}

.cl-tab--iot{
    .cl-fitted-box{
        @extend .abs-scroll;
        height: 100vh;
    }
}

.cl-info-container.cl-tab--info{
    .cl-fitted-box{
        @extend .abs-scroll;
        height: calc( 100vh - 50px );
        //transiton: $dur height ease-in-out;
    }
}


#modal{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;

    &>div{
        width: 100vw;
        height: 100vh;
        background-color: rgba( 0, 0, 0, 0.9 );
    }
}


/* Header */
.App {

    height: calc( 100vh + 46px );
    width: 100vw;
    //-webkit-overflow-scrolling: touch;
    //overflow-y: scroll;

    & > header {
        transition: margin-top $dur ease-out;

        .md-btn--icon {
            padding: 0;
        }
    }


    #cl-footer {
        position: fixed;
        bottom: 0;
        width: 100vw;
        height: 52px;
        background-color: #ffffff;
        transition: bottom $dur ease-out;

        footer{
            position: relative;
            width: 100vw;
            background-color: #ffffff;
            -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
            box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 3px rgba(0, 0, 0, 0.12), 0 4px 5px 0 rgba(0, 0, 0, 0.2);
        }

        .md-bottom-nav--fixed {
            font-size: 0;
            padding-top: 0;
        }

        img {
            width: 40px;
            height: 34px;
            opacity: 0.4;
            transition: opacity 0.4s;
        }

        .md-bottom-nav-label {
            font-size: 12px;
            line-height: 1.1em;
            color: rgba(16, 82, 165, 0.4);
            transition: color 0.4s;
        }

        .footer__button--selected {

            img {
                opacity: 1;
            }

            .md-bottom-nav-label {
                color: #1052a5;
            }

        }

        .md-bottom-nav {
            height: 52px !important;
            padding: 0 12px 0 !important;
        }
    }

    // 스크롤해서 위아래 메뉴 치울때,
    &.cl-app--expand {

        height: calc( 100vh + 46px );

        &>header{
            margin-top: -46px;
        }


        #cl-footer {
            bottom: -52px;
        }

        .cl-write__button, .cl-iot-run__button{
            bottom: 1em;

            img {
                width: 21px !important;
                height: 21px !important;
                opacity: 1 !important;
            }
        }


        // 스크롤 영역 조절
        .cl-tab--community{
            .cl-fitted-box{
                height: calc( 100vh - 48px ); //상단 및 패딩 제외
            }
        }

        .cl-tab--reservation{
            .cl-fitted-box{
                height: calc( 100vh - 145px ); // 상단 대시보드 제외
            }
        }

        .cl-tab--info{
            .cl-fitted-box{
                height: 100vh;
                //height: calc( 100vh - 52px );
            }
        }

    }

}

/* SubHeader */
.cl-second-header {
    position: sticky;
    width: 100%;
    z-index: 10;
    left: 0;
    top: 0vh;
    border-top: 0 solid #1052a5;

    &>*{
        transform: translateZ(0);
    }
}

.cl-fitted-box {
    width: 100%;
    height: 100%;
    //padding-bottom: 56px;
    transition: $dur*2 height ease-out;
}

.cl-bg--light{
    background-image: url("images/bg-3@2x.png");
}

.cl-bg--dark{
    background-color: #32363D;
}

.cl-bg--darkgray{
    background-color: #D2D2D2;
    color: #000000;
}

.cl-bg--deepdark{
    background-color: #222427;
    color: white;
}

.cl-bg--strongdark{
    background-color: #3F4248;
    color: white;
}

.cl-bg--statusdark{
    background-color: #6A6D72;
    color: white;
}

.cl-bg--lightgray{
    background-color: #F5F5F5;
    color: rgba( 0, 0, 0, 0.7 );
}

.cl-bg--allmostblack{
    background-color: #1F2125;
    color: white;
}

.cl-header--reservation {
    min-height: 125px;
    background-color: #2e3137;
    color: white;

    & + .cl-fitted-box {
        //@extend .cl-bg--light;
        //background-image: url("images/bg-3@2x.png");
    }
}

.cl-fixed-page {
    position: fixed;
    height: 100vh;
    top: 0;
    z-index: 100;
}

.cl-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    margin-top: 56px;
    height: calc(100vh - 56px);
    background-color: white;
}

.react-swipeable-view-container > div[aria-hidden=false] {
    -webkit-overflow-scrolling: touch;
}

.cl-select-with-title {
    height: 60px;
    padding: 0 8px;

    h5 {
        margin: 0;
        font-size: 13px;
        font-weight: 500;
        color: #4a4a4a;
    }
}

.cl-select-with-title__select {
    width: 200px;
    height: 33px;
    overflow: hidden;
    border-radius: 6px;
    background-image: url("images/cl-select-with-title-select-bullet@2x.png");
    background-repeat: no-repeat;
    background-position: 95% center;
    background-size: 10px;
    background-color: rgba(255,255,255,0.3);

    select {
        width: 200px;
        height: 33px;
        padding: 7px 5px 5px 14px;
        background: transparent;
        border: none;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.87);
    }
}

.cl-home-iot {
    //.cl-fitted-box {
    //    min-height: calc(100vh - 56px);
    //}
}

.cl-header__branch-btn {
    margin-left: 9px;
    padding-right: 20px;
    font-size: 16px;
    font-weight: bold;
    background-image: url("images/arrow-drop-down-28@3x.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 15px;
}

.cl-header__branch-label{
    margin-left: 9px;
    padding-right: 20px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.4px;
}

.cl-header__alert-btn {
    width: 46px;
    height: 46px;
    margin-right: 4px;
    justify-content: center;

    img {
        width: 26px;
        height:26px;
        opacity: 0.7;
    }
}

.cl-header__logo {
    margin-left: 12px;
    width: 30px;
    height: 30px;
}

header {
    border-bottom: 1px solid #1B65C1;
}