.cl-info-container{

  background-color: black;

  .cl-fitted-box{
    min-height: calc( 100vh - 56px * 2 );
  }

}

$card-trans-time: 0.3s;
.cl-profile-card{
  //background-color: white;
  //padding: 20px 18px 14px 18px;
  font-size: 13px;
  //padding-bottom: 68px;
  transition: $card-trans-time padding-top ease-out;

  .cl-avatar{
    width: 65px;
    height: 65px;
    transition: $card-trans-time all ease-out;
  }

  h4{
    font-weight: bold;
    font-size: 20px;
    text-align: left;

    &+p{
      font-size: 16px;
    }
  }

  p{
    font-size: 13px;
    color: rgba( 0, 0, 0, 0.5 );
  }

  .cl-summary{
    transition: $card-trans-time all ease-out;
    padding: 20px 18px 16px 18px;
    background-color: white;
  }

  .cl-profile-card__footer{
    padding: 18px;
    background-color: white;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #cfcfcf;
  }


  .cl-edit{
    position: absolute;
    top: 20px;
    right: 18px;
    font-weight: 500;
  }
}


.cl-app--expand{

  .cl-profile-card{
    pointer-events: none;

    & + .cl-info-dashboard__list{
      padding-bottom: 20px;
    }

    &.cl-second-header {
      .cl-avatar {
        margin-left: -78px;
        opacity: 0;
      }
    }

    h4{
      margin-top: 0;
    }

  }



  .cl-edit{
    display: none;
  }

  .cl-summary{
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .cl-profile-card__footer{
    border-top: none;
    background-color: transparent;
    opacity: 0;

    p:first-child{
      opacity: 0;
    }

    p:last-child{
      margin-top: -110px;
    }
  }


}


.cl-info-notice{

  padding: 20px 18px 30px 18px;
  transform: translateZ(0);

  &>h4{
    color: #42a5f5;
    font-size: 14px;
    margin-bottom: 1em;
  }

  a{
    color: white;
    font-size: 24px;
    line-height: 1.4em;
    -webkit-box-orient:vertical;
  }
}

.cl-notice-detail__content{
  color: white;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.4em;
  padding: 0.8em 0.6em 2em 0.6em;
}


.cl-info-dashboard__list{

  display: grid;
  grid-template-columns: repeat( 2, 50vw );
  border-bottom: 1px solid #313336;
  transition: $card-trans-time margin-top ease-out;

  .cl__thumb--rounded {
    width: 60px;
    height: 60px;
  }

  li{
    display: flex;
    align-items: center;
    height: 50vw;
    border: 1px solid #313336;
    background-color: #1F2125;
    border-bottom: none;

    &:nth-child(odd){
      border-right: none;
    }

    a{
      margin: auto;
      text-align: center;
    }
  }


  p{
    color: #D2D2D3;
    font-size: 16px;
  }

}




/* Living Support */
.cl-support{

  &>header{

    padding: 20px 18px;
    background-color: #ECECEC;
    height: inherit;
    box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.14);
    margin-bottom: 0.2em;

    h4{
      font-size: 17px;
      font-weight: bold;
      color: #000000;
    }

    p{
      font-size: 12px;
      color: rgba( 0, 0, 0, 0.87 );
    }
  }
}


.cl-subject-list{
  li{
    min-height: 69px;
  }


  .cl-version{
    background-color: #E3E3E3;
    p{
      font-size: 12px;
    }
  }
}


/* My Status */
.cl-status-vertical-list{
  background-color: rgba(0, 0, 0, 0.3);

  .cl-name{
    font-size: 16px;

    .cl-desc{
      font-size: 14px;
      font-weight: 300;
      margin-left: 0.5em;
    }
  }

  .cl-desc{
    font-size: 16px;
    span{
      color: #80d6ff;
    }
  }

  .cl-card-item{
    @extend .cl-flex;
    padding: 26px 23px;
  }

}

.cl-status-vertical-list--nano{
  @extend .cl-status-vertical-list;
  font-size: 12px;
  padding-top: 20px !important;
  padding-bottom: 20px !important;

  .cl-card-item--dark{
    padding: 4px 0;
    margin-bottom: 9px;
  }

  .cl-name{
    font-size: 14px;
    line-height: 1em;
  }

  .cl-desc, button{
    font-size: 12px;
    color: #9b9b9b;
  }

  button{

    &.cl--active{
      color: #80d6ff;
    }
  }

}


/* Profile */
.cl-profile-card{
  //background-color: white;
  padding: 0;// 0 0 25px 0;
  text-align: center;


  .cl-avatar-border{
    @extend .cl-avatar;
    border-radius: 0;
    border: 0;
    width: 108px;
    height: 108px;
    background-size: contain;
    background: #E6E6E6 none;
    clip-path: polygon(15% 0, 100% 0, 100% 75%, 85% 100%, 0 100%, 0 25%);
    margin: 0 auto;
    padding: 4px;


    .cl-avatar{
      width: 100%;
      height: 100%;
    }
  }

  h4{
    margin-top: 12px;
    margin-bottom: 4px;
  }

  .cl-edit__button{
    position: absolute;
    top: 30px - 12px;
    left: calc( 50% + 54px - 12px );
    width: 24px;
    height: 24px;
    background-color: #f4ca5c;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.5);
    border-radius: 50%;
  }
}

.cl-profile{

  .cl-profile-card{
    background-color: white;
    position: relative;
    text-align: center;
    padding: 30px 0;

    h4{
      text-align: center;
    }
  }

}

.cl-profile-family{
  padding: 0 23px;
  background-color: rgba( 0, 0, 0, 0.3 );

  .cl-status-vertical-list{
    padding: 26px 0;
    border-bottom: 1px solid #303236;
    background: transparent;
  }
}



.cl-form{
  padding: 20px 23px;
  background-color: rgba( 0, 0, 0, 0.1 );

  .cl__input{
    font-size: 16px;
    color: #96979A;
    border-bottom: 1px solid #47494F;
    margin-top: 22px;
    padding-bottom: 0.4em;
  }

  .cl__button{
    width: 84px;
    height: 34px;
    opacity: 0.5;
    border-radius: 1px;
    background-color: rgba(155, 155, 155, 0.8);
    color: #fafafa;

  }

  margin-bottom: 4em;
}