@import '../../node_modules/react-md/src/scss/react-md';
@import '../../node_modules/react-md/src/scss/globals';

$md-light-theme: true; // optional for light theme
$md-primary-color: #1052a5;
$md-secondary-color: #f4ca5c;

.color-primary{
  color: $md-primary-color;
}

.color-white{
  color: white;
}

.color-black{
  color: black;
}

.color-secondary{
  color: $md-secondary-color;
}

.color-lightblue{
  color: #80d6ff;
}


.drawers__content__title--hack {
  color: get-color('secondary', false);
  left: -92px;
  line-height: $md-line-height;
  position: absolute;
  top: 14px;
}

.drawers__content__scrollable {
  height: calc(100% - #{$md-toolbar-prominent-height});
  overflow: auto;
}


// Drawer하단에서 나오기 추가
.md-drawer--bottom{
  left: 0;
  top: 0;
  width: 100%;
  transform: translate3d(0, 100%, 0);
}

.md-drawer{
  header{
    .md-btn{
      min-width: auto;
    }
  }
  
  .md-title--toolbar{
    width: calc( 100% - 36px*2 );
    text-align: center;
    margin: 0;
  }

  a{
    text-decoration: none !important;
  }
}

.cl-card-item .md-avatar--default{
  background-image: url('images/profile-thumb-img@3x.png');
  background-size: contain;
}

.md-avatar--default {
  img:after {
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('images/profile-thumb-img@3x.png');
    background-size: contain;
  }
}


.md-btn{
  padding: 0;
}

.md-drawer--fixed{
  bottom: initial;
}


@include react-md-everything;