@import '../../node_modules/react-md/src/scss/react-md';
@import '../../node_modules/react-md/src/scss/globals';

$md-light-theme: true; // optional for light theme
$md-primary-color: #1052a5;
$md-secondary-color: #f4ca5c;


.drawers__content__title--hack {
  color: get-color('secondary', false);
  left: -92px;
  line-height: $md-line-height;
  position: absolute;
  top: 14px;
}

.drawers__content__scrollable {
  height: calc(100% - #{$md-toolbar-prominent-height});
  overflow: auto;
}


// Drawer하단에서 나오기 추가
.md-drawer--bottom{
  left: 0;
  top: 0;
  width: 100%;
  transform: translate3d(0, 100%, 0);
}

.md-drawer{
  header{
    .md-btn{
      min-width: auto;
    }
  }
  
  .md-title--toolbar{
    width: calc( 100% - 36px*2 );
    text-align: center;
    margin: 0;
  }
}



.md-btn{
  padding: 0;
}

.md-drawer--fixed{
  bottom: initial;
}


@include react-md-everything;