



.cl-reservation-option{

  background-color: #F4F4F4;

  .cl-opt-sec{
    border-bottom: 1px solid rgba(207, 207, 207, 0.7);
    padding: 17px;
    color: black;
  }

  .cl-label{
    font-weight: bold;
    width: 80px;
  }

  .cl-opt-sec--title{
    h3, p{
      margin: 0;
    }

    h3{
      font-size: 19px;
      font-weight: bold;
      white-space: normal;
      word-break: keep-all;
    }

    p{
      font-size: 12px;
      color: #9b9b9b;
    }

  }

  .cl-opt-sec--branch{
    .cl-label + div {
      width: calc( 100% - 80px - 24px );
    }
  }


  .cl-opt-sec--daterange{

    .cl-label + div {
      position: relative;
      width: calc( 100% - 80px );
    }

    input{
      width: 50%;
    }

    .cl-center{
      position: absolute;
      left: 50%;
      margin-left: -10%;
    }
  }

}




.cl-reservation-info{

  font-size: 14px;
  color: rgba( 255, 255, 255, 0.5 );

  p{
    color: rgba( 255, 255, 255, 0.5 );
  }

  .cl-label{
    //font-size: 14px;
    color: white;
  }


  .cl-credit{

  }

  .cl-credit, .cl-inclusion, .cl-notice{
    padding: 20px 15px;
  }


  .cl-inclusion, .cl-notice{
    border-top: 0.5px solid #cfcfcf50;
  }

  .cl-inclusion{
    .cl-label{
      margin-bottom: 1em;
    }

    .cl-desc{
      margin-bottom: 1.4em;
    }
  }

  .cl-notice{
    font-size: 12px;
    li{
      &:before{
        content:"·";
        margin-right: 0.3em;
      }
    }
  }

}

.cl-reservation__button--full{
  text-align: center;
  font-weight: bold;
  border-radius: 1px;
  width: calc( 100% - 32px );
  margin: 0 15px;
  padding: 12px 0;
}

.cl-reservation-book__button{
  @extend .cl-reservation__button--full;
  background-color: #9b9b9b;
  color: white;
  margin: 20px 15px;
}

.cl-reserved{

  button{
    @extend .cl-reservation__button--full;
    background-color: rgba(255, 255, 255, 0.2);
    color: #9b9b9b;
    margin-bottom: 6px;
  }

  padding: 1em 0 2em 0;
}

.cl-booked{
  color: #de4c35;
}

.cl-date-range{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  background-color: white;
}




// DateRange
.cl-opt-sec--daterange{

  position: relative;

  .cl-daterange-output{
    @extend .cl-flex;

    .cl-divider{
      width: 30px;
      text-align: center;
    }
  }
}
.cl-date-range {

  font-size: 1.1em;

  .DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
    border-radius: 0;
    background-color: #8EA9D3;

    &.DayPicker-Day--start {
      border-top-left-radius: 100%;
      border-bottom-left-radius: 100%;
      background-color: #1251A5;
    }

    &.DayPicker-Day--end {
      border-top-right-radius: 100%;
      border-bottom-right-radius: 100%;
      background-color: #1251A5;
    }
  }

  .DayPicker-Day--disabledDays{
    opacity: 0.5;
    pointer-events: none;
  }

  .cl-ok{
    width: 100%;
    text-align: center;
    padding: 1em 0;
    margin-top: -1em;
  }
}