.swiper-slide {
    padding: 35% 0;
    text-align: center;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.cl-swiper-viewer {
    .swiper-slide {
        height: calc(100vh - 56px);
    }
}

.swiper-pagination-bullet {
    position: relative;
    width: 12px;
    height: 12px;
    border: 1px solid #ffffff;
    background-color: transparent;
    opacity: 0.5;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 7px;
        height: 7px;
        border-radius: 100%;
        background-color: #ffffff;
    }
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 3px;
}