
.cl-30mins{

  display: flex;
  overflow: auto;
  color: #9b9b9b;
  align-items: flex-end;
  padding-left: 16px;
  padding-bottom: 10px;
  padding-top: 20px;
  border-top: 1px solid #E6E6E6;


  .cl-30min{
    position: relative;
    list-style: none;
    width: 26px;
    height: 85px;
    flex-shrink: 0;
    border-left: 1px solid rgba(0,0,0, 0.1);
    font-size: 11px;
    pointer-events: none;

    &:first-child{
      pointer-events: initial;
      z-index: 1;
    }

    &:nth-child(even){
      height: 55px;
    }
  }

  .cl-hour__label{
    position: absolute;
    top: 0;
    left: 2px;
    white-space: nowrap;
  }
}

.cl-time-area{
  position: absolute;
  bottom: 0;
  height: 60px;
  margin-left: -1px;
}

.cl-time-scheduler{

  position: relative;
  //border-top: 1px solid #cfcfcf;



  .cl-time--selected{
    @extend .cl-flex-between;

    color: black;

    div{
      width: 50%;
      text-align: center;
      padding: 17px 0;
      font-size: 14px;

      &:first-child{
        border-right: 1px solid #EDEDED;
      }
    }
  }



  .cl-areas{
    position: absolute;
    top: 0;
    left: 0;
  }

  .cl-area--disabled{
    @extend .cl-time-area;
    @extend .cl-deviant-crease;
  }

  .cl-area--selected{
    @extend .cl-time-area;
    min-width: 26px;
    background-color: #4a90e2;
    border: 2px solid #195fb1;
    border-radius: 3px;
    transition: all 0.2s;

    &.cl-controlling{
      background-color: rgba(74, 144, 226, 0.5);
    }

    &.react-draggable-dragging{
      background-color: rgba(74, 144, 226, 0.5);
      border-color: #90AFD9;

      .cl-area-handle{
        border-color: #90AFD9;
      }
    }
  }

  .cl-area-handle{
    position: absolute;
    background-color: #ffffff;
    border: 2px solid #0c4990;
    width: 14px;
    height: 14px;
    margin-left: -9px;
    border-radius: 50%;
    top: calc( 50% - 7px );
    z-index: 1;
    transition: all 0.2s;

    &.react-draggable-dragging{
      background-color: orange;
      width: 20px;
      height: 20px;
      margin-left: -12px;
      top: calc( 50% - 10px );
    }
  }


  .cl-time-ctrl{
    padding: 20px 16px;

    p{
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 0.2em;
    }


    button{
      opacity: 0.5;
    }
  }


  // 겹치는 시간대 선택시
  &.cl-time-scheduler--incorrect{
    .cl-area--selected{
      background-color: rgba( 255, 0, 0, 0.2 );
    }
  }

}




