
/* 새글 쓰기 */
.cl-write__section{

  padding-top:  56px;
  height: 100vh;

  textarea{
    margin-top: 1em;
    padding: 1em;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    font-size: 18px;
    color: white;
  }

}