// index.css
body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

@import "~font-awesome/css/font-awesome.css";
@import "~react-id-swiper/src/styles/css/swiper.css";
@import '~rc-slider/assets/index.css';
@import '~rc-tooltip/assets/bootstrap.css';
@import "styles/vendors/boost-on.scss";
@import "styles/md-overwrite.scss";
@import "styles/common.scss";
@import "styles/layout.scss";
@import "styles/drawer.scss";
@import "styles/component.scss";
@import "styles/timeScheduler";
@import "styles/counter.scss";
@import "styles/reservationDetail.scss";
@import "styles/inclusion-icon.scss";
@import "styles/reservation.scss";
@import "styles/thumbnail-id-swiper.scss";
@import "styles/iot.scss";
@import "styles/checkbox.scss";