.cl-is-device .App > header, .cl-is-device .md-drawer--active header {
  padding-top: 3.90625vh;
  height: calc( 56px + 3.90625vh); }

body:not(.cl-is-device) {
  overflow-y: scroll; }

/* Header */
.App {
  height: 100vh;
  -webkit-overflow-scrolling: touch; }
  .App > header {
    transition: margin-top 0.4s ease-out; }
    .App > header .md-btn--icon {
      padding: 0; }
  .App #cl-footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 56px;
    background-color: #ffffff;
    transition: bottom 0.4s ease-out; }
    .App #cl-footer footer {
      position: relative;
      width: 100vw;
      background-color: #ffffff; }
    .App #cl-footer .md-bottom-nav--fixed {
      font-size: 0;
      padding-top: 2px; }
    .App #cl-footer img {
      width: 40px;
      height: 34px;
      opacity: 0.4;
      transition: opacity 0.4s; }
    .App #cl-footer .md-bottom-nav-label {
      color: #1052a5;
      font-size: 12px;
      line-height: 1.1em;
      color: rgba(0, 0, 0, 0.4);
      transition: color 0.4s; }
    .App #cl-footer .footer__button--selected img {
      opacity: 1; }
    .App #cl-footer .footer__button--selected .md-bottom-nav-label {
      color: #1052a5; }
  .App.cl-app--expand #cl-footer {
    bottom: -56px; }

/* SubHeader */
.cl-second-header {
  position: sticky;
  width: 100%;
  z-index: 10;
  left: 0;
  top: 0; }

.cl-fitted-box {
  width: 100%;
  height: 100%; }

.cl-header--reservation {
  min-height: 145px;
  background-color: #2e3137;
  color: white; }
  .cl-header--reservation + .cl-fitted-box {
    background-image: url("images/bg-3@2x.png"); }

.cl-fixed-page {
  position: fixed;
  height: 100vh;
  top: 0;
  z-index: 100; }

.cl-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  margin-top: 56px;
  height: calc(100vh - 56px);
  background-color: white; }

.react-swipeable-view-container > div[aria-hidden=false] {
  -webkit-overflow-scrolling: touch; }

.cl-select-with-title {
  height: 60px;
  padding: 0 8px; }
  .cl-select-with-title h5 {
    margin: 0;
    font-size: 13px;
    font-weight: 500;
    color: #4a4a4a; }

.cl-select-with-title__select {
  width: 125px;
  height: 33px;
  overflow: hidden;
  background-image: url("images/cl-select-with-title-select-bullet@2x.png");
  background-repeat: no-repeat;
  background-position: 90% 50%;
  background-size: 12px;
  background-color: rgba(255, 255, 255, 0.4); }
  .cl-select-with-title__select select {
    width: 125px;
    height: 33px;
    padding: 7px 5px 5px 14px;
    background: transparent;
    border: none;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.87); }
